@require './md2html-theme/theme.styl'

.item-view-header, .item-view-footer, .item-view-comments
  padding 1.8em 2em 1em
  h1
    font-size 2em
    margin 0
    margin-right .5em
    color #333
  .labels, .meta, .meta a
    color #828282
  .meta
    a
      color #485763
    a:hover
      color #3eaf7c
  .labels
    padding-right .4em
    line-height 2em
    a
      color #828282

.item-view-comments
  margin-bottom 40px
  &:before
    display block
    width 30%
    content ''
    height 1px
    background #eaecef
    margin 50px auto
  .content
    list-style none
    margin-top 20px
    padding 10px 0 10px 70px
    li
      border 1px solid #eaecef
      border-radius 4px
      margin-bottom 50px
      padding 20px
      position relative
      .avatar
        border 1px solid #eee
        position absolute
        left -68px
        top 0
        width 48px
        height 48px
        border-radius 50%
        overflow hidden
        width 36px
        height 36px
        img
          display block
          width 100%
          height auto
      .body
        .markdown-body
          padding-top 20px
          h1, h2, h3, h4, h5, h6, p
            color #485763
        & > span
          color #828282
  .button
    margin 50px auto 0
    display block
    text-align center
    max-width 170px
    border 2px solid #c3c2c9
    color #686868
    border-radius 5px
    font-size 14px
    height 32px
    line-height 32px
    background #fff
    overflow hidden
    position relative
    cursor pointer
    &:focus
      outline none

.content
  padding 0 2em
  border 0
  img
    max-width 100%

@media (max-width 600px)
  .item-view-comments
    .avatar
      display none
  .item-view-comments .comments-content
      list-style none
      margin-top 20px
      padding 10px 0 10px 0
  .item-view-header
    h1
      font-size 1.25em
